In [1]:
# 필요 라이브러리 임포트 및 옵션 설정

import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
import pandas as pd
import numpy as np
import time
import warnings
from datetime import datetime as dt
import re
warnings.filterwarnings('ignore')

# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [18]:
# 댓글 크롤링

options = webdriver.ChromeOptions()
# options.add_argument('headless')

driver = webdriver.Chrome('./chromedriver', options=options)
driver.get('https://paige.kr.nc.com/community/clubhouse/post/394435') # 답변 링크 입력
action = ActionChains(driver)

# 닉네임 수집
nickname = driver.find_elements(By.CLASS_NAME, 'nickname')
nickname = nickname[1:]

# 로그인
driver.find_element(By.XPATH, '//*[@id="__layout"]/div/header/div/div/nav/div/div[3]/button').click()
driver.implicitly_wait(2)
driver.find_element(By.XPATH, '//*[@id="__layout"]/div/div/div/div/div/div[2]/button').click()
driver.implicitly_wait(2)
input_sec = driver.find_elements(By.TAG_NAME, 'input')
driver.implicitly_wait(2)

idpw = ['paige@ncsoft.com', 'Paige0430']

for num, i in enumerate(input_sec):
    i.send_keys(idpw[num])

driver.find_element(By.XPATH, '//*[@id="__layout"]/div/div/div/div/div[2]/form/button').click()
driver.implicitly_wait(2)

# 답글 달기
reply_but = driver.find_elements(By.CLASS_NAME, 'button-reply')
driver.implicitly_wait(2)
for r_but in reply_but:
    r_but.click()
    
reply_box = driver.find_elements(By.CLASS_NAME, 'text-area')
driver.implicitly_wait(2)
for r_box in reply_box:
    r_box.send_keys('안녕하세요?')
    
for count in range(1, len(nickname)):
    try:
        submit_but = driver.find_element(By.XPATH, '//*[@id="__layout"]/div/div[2]/div/div[1]/div/div[5]/div[2]/div[{}]/div[2]/div/div/div[2]/button'.format(str(count)))
        action.move_to_element(submit_but).perform()
        submit_but.click()
    except:
        pass

---
### 실시간 선택 비율

In [1]:
import pandas as pd
import os

In [2]:
os.chdir('크롤링 댓글 모음/필터링')

In [24]:
file_list = ['Filtering_comment_1101.xlsx',
            'Filtering_comment_1102.xlsx',
            'Filtering_comment_1104.xlsx',
            'Filtering_comment_1105.xlsx',
            'Filtering_comment_1107.xlsx',
            'Filtering_comment_1108.xlsx']

In [25]:
ps_count = pd.DataFrame(columns = ['Pick'])

for file in file_list:
    df = pd.read_excel(file, index_col=0)
    df_1 = pd.DataFrame(df['Pick_1'])
    df_1.columns = ["Pick"]
    df_2 = pd.DataFrame(df['Pick_2'])
    df_2.columns = ["Pick"]
    df_3 = pd.DataFrame(df['Pick_3'])
    df_3.columns = ["Pick"]
    
    count_df = pd.concat([df_1, df_2, df_3])
    print(count_df.shape)
    
    ps_count = pd.concat([ps_count, count_df])

(1758, 1)
(1416, 1)
(1434, 1)
(1236, 1)
(1374, 1)
(1248, 1)

In [26]:
ps_count.shape

(8466, 1)

In [27]:
ps_count.value_counts()

Pick
이정후(51)    2023
최정(14)     1900
푸이그(66)    1238
한유섬(35)     863
최지훈(54)     569
           ...
애플러(8)        1
안우진(41)       1
아정후(51)       1
송성문(54)       1
햐유섬(35)       1
Length: 128, dtype: int64

In [28]:
ps_count.value_counts() / ps_count.shape[0] * 100

Pick
이정후(51)    23.895582
최정(14)     22.442712
푸이그(66)    14.623199
한유섬(35)    10.193716
최지훈(54)     6.721002
             ...
애플러(8)      0.011812
안우진(41)     0.011812
아정후(51)     0.011812
송성문(54)     0.011812
햐유섬(35)     0.011812
Length: 128, dtype: float64

오후 2시 40분 현재 기준 Pick TOP3

- 이정후 : 353명 중 286명 (81%)
- 푸이그 : 353명 중 181명 (51.3%)
- 김현수 : 353명 중 179명 (50.7%)
- 이형종 : 350명 중 7명 (2%)
- 김민성 : 350명 중 3명 (0.9%)

---
### 출석점수

In [23]:
import os
os.getcwd()

'C:\\Users\\tlsfkaus4862\\Desktop\\data_analysis\\trio_predict\\운영프로그램'

In [22]:
os.chdir('운영프로그램')

In [24]:
df = pd.read_excel('누적 점수 계산시트.xlsx', sheet_name=[0,1,2,3], index_col=0)
df_check = pd.read_excel('check.xlsx', index_col=0)

In [31]:
df[0]

           닉네임     점수
0        심단주노담  104.0
1        삼성의주환  112.0
2     anrndhwa  107.0
3          조형우   91.5
4          정희정  101.5
...        ...    ...
1780        이갱    5.5
1781      라가네스    2.5
1782       이재희    5.5
1783    최금강공필성    1.0
1784     혜성을위해    7.5

[1785 rows x 2 columns]

In [32]:
for i in df[0].index:
    if df[0]['닉네임'][i] in list(df_check['닉네임']):
        df[0]['점수'][i] += 5

C:\Users\tlsfkaus4862\AppData\Local\Temp\ipykernel_26240\2604011797.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[0]['점수'][i] += 5

In [33]:
df[0]

           닉네임     점수
0        심단주노담  109.0
1        삼성의주환  117.0
2     anrndhwa  112.0
3          조형우   91.5
4          정희정  106.5
...        ...    ...
1780        이갱    5.5
1781      라가네스    2.5
1782       이재희    5.5
1783    최금강공필성    1.0
1784     혜성을위해    7.5

[1785 rows x 2 columns]

In [34]:
#1. 파일 생성
writer=pd.ExcelWriter('누적 점수 계산시트.xlsx', engine='openpyxl')
 
#2. 생성 파일에 시트명 지정 후 dataframe에 저장한 결과값 넣기
df[0].to_excel(writer, sheet_name='유저 누적')
df[1].to_excel(writer, sheet_name='선수 누적')
df[2].to_excel(writer, sheet_name='유저 로그')
df[3].to_excel(writer, sheet_name='선수 로그')
 
#3. 작성 완료 후 파일 저장
writer.save()

--------------------------
## 호수비 영상 좋아요 수 크롤링

In [4]:
# 댓글 크롤링

options = webdriver.ChromeOptions()
# options.add_argument('headless')

driver = webdriver.Chrome('./chromedriver', options=options)
driver.get('https://paige.kr.nc.com/shared/video/224152') # 답변 링크 입력
action = ActionChains(driver)

# 닉네임 수집
like_counts = driver.find_element(By.XPATH, '//*[@id="__layout"]/div/div[2]/div[2]/div[1]/div[2]/button[1]/span')
print(like_counts.text)

28